<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Mi reservas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid>
        <ion-row routerLink="/tabs/reservas/{{expediente.Id}}" *ngFor="let expediente of expedientes">
            <ion-col>
                <ion-img src="{{expediente.Foto}}"></ion-img>
                <ion-row>
                    <ion-col class="text-overlay">
                        <ion-title>
                            {{expediente.Titulo}}
                        </ion-title>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </ion-grid>



</ion-content>


