ion-content {
    --background: #fff url('https://lovinlife.com/wp-content/uploads/2019/01/monument-valley-road-trip-RTTIPS0617.jpg') no-repeat center center / cover;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
ion-title {
    color: white;
    font-size: 3em;
    font-family: 'Roboto';
}

ion-grid.login {
    height: 100%;
    margin-top: 20%;
    color: white;
}

ion-icon {
    font-size: 20px; //Preferred size here
    background-color:cornflowerblue;
    padding: 10px;
    border-radius: 35px;
        
}

