
    <ion-content >

        <ion-grid class="login">
            <ion-row >
                <ion-col>
                    <ion-title margin-vertical text-center>
                        APP MI VIAJE
                    </ion-title>

                    <ion-row justify-content-center>
                        <ion-row >
                            <ion-col >
                                <ion-card-title margin-vertical text-center>
                                    Login con
                                </ion-card-title>
                            </ion-col>
                        </ion-row>
                    </ion-row>

                    <ion-row justify-content-center>
                        <ion-col size-md="6" size-lg="6" size-xs="6" justify-content-center>
                            <ion-row margin-vertical justify-content-center>
                                <ion-col>
                                    <ion-icon name="logo-google"></ion-icon>
                                </ion-col>
                                <ion-col>
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </ion-col>
                                <ion-col>
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>


                        <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                            <ion-grid>
                                <ion-row justify-content-center>
                                    <ion-col size-md="6" size-lg="5" size-xs="12">

                                            <ion-input margin-bottom color="transparent" placeholder="Email" name="username" id="loginField"
                                                       type="text" required [(ngModel)]="username" #email></ion-input>
                                            <ion-input color="transparent" placeholder="Password" name="password" id="passwordField"
                                                       type="password" required [(ngModel)]="password"></ion-input>

                                    </ion-col>
                                </ion-row>
                                <ion-row justify-content-center>
                                    <ion-col size-md="6" size-lg="5" size-xs="12">
                                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                                        <ion-button class="submit-btn" type="submit"
                                                    [disabled]="!loginForm.form.valid" size="large" expand="block">
                                            Login
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </form>
                </ion-col>
            </ion-row>
        </ion-grid>

            


    </ion-content>


