<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reservas">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Mis Reservas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mireserva">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuracion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
