<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mi servicio</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-img src="{{servicio.Foto}}"></ion-img>

    <ion-grid >
        <ion-card>

            <ion-card-header>
                <ion-card-title>{{servicio.Titulo}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{servicio.Descripcion}}</p>

                <ion-grid *ngIf="servicio.Tipo == TiposServicio.Hotel">
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label class="font-small font-bold"> Fecha Inicio  </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{formatDate(servicio.FechaInicio)}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Fecha Fin </ion-label>  </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{formatDate(servicio.FechaFin)}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Personas </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{servicio.Personas}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Localizador </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{servicio.Localizador}} </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-grid *ngIf="servicio.Tipo == TiposServicio.Hotel">
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label class="font-small font-bold"> Fecha Inicio  </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{formatDate(servicio.FechaInicio)}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Fecha Fin </ion-label>  </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{formatDate(servicio.FechaFin)}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Personas </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{servicio.Personas}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Localizador </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{servicio.Localizador}} </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-card-content>
        </ion-card>

    </ion-grid>

</ion-content>


