<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Mi reserva</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-img src="{{expediente.Foto}}"></ion-img>


    <!-- Segment with secondary color -->
    <ion-segment (ionChange)="segmentChanged($event)" color="secondary">
        <ion-segment-button value="info" checked>
            <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="servicios">
            <ion-label>Servicios</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-grid *ngIf="tab == 'info'">
        <ion-card>
            <ion-card-header>
                <ion-card-title>{{expediente.Titulo}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{expediente.Descripcion}}</p>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label class="font-small font-bold"> Fecha Inicio  </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{formatDate(expediente.FechaInicio)}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Fecha Fin </ion-label>  </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{formatDate(expediente.FechaFin)}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Personas </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{expediente.Personas}} </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col> <ion-label color="gray" class="font-small font-bold"> Localizador </ion-label> </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="font-bold font-black"> {{expediente.Localizador}} </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>

    </ion-grid>


    <ion-grid *ngIf="tab == 'servicios'">
        <ion-list-header>Servicios</ion-list-header>
        <ion-list *ngFor="let servicio of expediente.Servicios">
            <ion-item *ngIf="servicio.Tipo == TiposServicio.Hotel">
                <!--Hotel-->
                <ion-thumbnail slot="start">
                    <img src="{{servicio.Foto}}">
                </ion-thumbnail>
                <ion-label>
                    <h2>{{servicio.Titulo}}</h2>
                    <p>Hotel</p>
                    <!--<p>{{servicio.Tipo}}</p>-->
                </ion-label>
                <ion-button routerLink="/tabs/reservas/{{expediente.Id}}/servicio/{{servicio.IdServicio}}" slot="end">Mas Detalles</ion-button>
            </ion-item>
            <ion-item *ngIf="servicio.Tipo == TiposServicio.Vuelo">
                <!--Vuelo-->
                <ion-thumbnail slot="start">
                    <img src="{{servicio.Foto}}">
                </ion-thumbnail>
                <ion-label>
                    <h2>{{servicio.Titulo}}</h2> 
                    <p>Vuelo</p>
                    <!--<p>{{servicio.Tipo}}</p>-->
                </ion-label>
                <ion-button routerLink="/tabs/reservas/{{expediente.Id}}/servicio/{{servicio.IdServicio}}" slot="end">Mas Detalles</ion-button>

            </ion-item>
        </ion-list>
    </ion-grid>
    


    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Resources</ion-label>
        </ion-list-header>
        <ion-item href="https://ionicframework.com/docs/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Ionic Documentation</ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/building/scaffolding">
            <ion-icon slot="start" color="medium" name="build"></ion-icon>
            <ion-label>Scaffold Out Your App</ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/layout/structure">
            <ion-icon slot="start" color="medium" name="grid"></ion-icon>
            <ion-label>Change Your App Layout</ion-label>
        </ion-item>
        <ion-item href="https://ionicframework.com/docs/theming/basics">
            <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
            <ion-label>Theme Your App</ion-label>
        </ion-item>
    </ion-list>

</ion-content>


